{% extends "base.html" %}

{% block title %} create item {% endblock %}

{% block content %} 
  <div class="column is-4 is-offset-4">
  <h3 class="title">Create Item</h3>
    <div class="box">
      {% if msg %}
        {% if msg_type == "warning" %}
          <div class="notification is-warning">
        {% elif msg_type == "error" %}
          <div class="notification is-danger">
        {% elif msg_type == "success" %}
          <div class="notification is-success">
        {% else %}
          <div>
        {% endif %}
          {{msg}}
        </div>
      {% endif %}

      <form action="/create_item" method="post">
        <input class="input is-medium" type="text" id="name" name="name" placeholder="Item name"><br><br>

        <input class="input is-medium" type="text" id="description" name="description" placeholder="Item description"><br><br>

        <input class="input is-medium" type="text" id="price" name="price" placeholder="Item price"><br><br>

        <input class="input is-medium" type="text" id="type" name="type" placeholder="Item Type"><br><br>
        
        <input class="button is-block is-info is-medium is-fullwidth" type="submit" value="Create">
      </form>   
    </div>
{% endblock %} 