{% extends "base.html" %}

{% block title %} create item {% endblock %}

{% block content %} 
  <div class="column is-4 is-offset-4">
  <h3 class="title">Edit Item: {{item.name}}</h3>
    <div class="box">
      {% if msg %}
        {% if msg_type == "warning" %}
          <div class="notification is-warning">
        {% elif msg_type == "error" %}
          <div class="notification is-danger">
        {% elif msg_type == "success" %}
          <div class="notification is-success">
        {% else %}
          <div>
        {% endif %}
          {{msg}}
        </div>
      {% endif %}

      <form action="/edit_item/{{item.id}}" method="post">
        <input class="input is-medium" type="text" id="name" name="name" placeholder="{{item.name}}"><br><br>

        <input class="input is-medium" type="text" id="description" name="description" placeholder="{{item.description}}"><br><br>

        <input class="input is-medium" type="text" id="price" name="price" placeholder="{{item.price}}"><br><br>

        <input class="input is-medium" type="text" id="type" name="type" placeholder="{{item.type}}"><br><br>
        
        <input class="button is-block is-info is-medium is-fullwidth" type="submit" value="Update">
      </form>   
    </div>
{% endblock %} 