{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %} 
  {{error_msg}} 
  <div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
      {% if msg %}
        {% if msg_type == "warning" %}
          <div class="notification is-warning">
        {% elif msg_type == "error" %}
          <div class="notification is-danger">
        {% elif msg_type == "success" %}
          <div class="notification is-success">
        {% else %}
          <div>
        {% endif %}
      {{msg}}
      </div>
  {% endif %}
      <form action="/login" method="post">
          <input class="input is-medium" type="text" id="email" name="email" placeholder="Your email"><br><br>

          <input class="input is-medium" type="password" id="password" name="password" placeholder="Your Password"><br><br>

          <input class="button is-block is-info is-medium is-fullwidth" type="submit" value="Login">
      </form>
    </div>
  </div>
{% endblock %}