{% extends "base.html" %}

{% block title %} Marketplace {% endblock %}

{% block content %}
{{error_msg}}

<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<table class="table center is-striped">
    <thead>
        <tr>
            <th>transactionID</th>
            <th>price</th>
            <th>currency</th>
            <th>bank account</th>
            <th>payer email</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>transactionID</th>
            <th>price</th>
            <th>currency</th>
            <th>bank account</th>
            <th>payer email</th>
        </tr>
    </tfoot>
    <tbody>

        {% for element in catalog %}
        <tr>
            <th>{{element.transactionID}}</th>
            <th>{{element.price}}</th>
            <th>{{element.currency}}</th>
            <th>{{element.bank}}</th>
            <th>{{element.paidbyemail}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}